<!DOCTYPE html>
<th:block xmlns:th="https://www.thymeleaf.org/"
	th:fragment="headerFragment">
	<ul class="nav">
		<li class="nav-item"><a class="nav-link active"
			aria-current="page" href="#">전체사원조회</a></li>
		<li class="nav-item"><a class="nav-link" th:href="|location.href='@{/empList}'|">사원등록</a></li>
		<li class="nav-item"><a class="nav-link" th:href="@{/empInsert}">Link</a></li>
		<li class="nav-item"><a class="nav-link disabled"
			aria-disabled="true">Disabled</a></li>
	</ul>
</th:block>