<!DOCTYPE html>
<!-- /template/all.html -->
<html xmlns:th="https://www.thymeleaf.org/"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<meta name="csrf_name" th:value="${_csrf.parameterName}">   <!-- ajax 호출해서 값보낼때 같이보내줘 -->
<meta name="csrf_value" th:value="${_csrf.token}">
<title></title>
</head>
<body>
	<h1>메인 페이지 입니다.</h1>
	<ul>
		<li sec:authorize="hasAnyRole('ADMIN','USER')"><a th:href="@{/user}">일반 <!-- 선언된 권한중에 하남나 가지고있어도 볼수있다 -->
				사용자 페이지로</a></li>
		<li sec:authorize="hasRole('ADMIN')"><a th:href="@{/admin}">관리자 <!-- 지정을 권한을 가져야만 볼수있다 -->
				전용 페이지로</a></li>
	</ul>
	<th:block sec:authorize="isAuthenticated()"> <!-- 로그인이 되었는지 체크한다. -->
		<div>
			<h4>로그인 정보</h4>
			<p sec:authentication="name"></p>
			<p sec:authentication="principal.username"></p> <!-- 로그인된 아이디를 보여준다 -->
			<p sec:authentication="principal.authorities"></p> <!-- 로그인된 아이디가 가지고있는 권한을 보여준다 -->
			<!-- 기본 값이 배열 권한을 가지고 온다. -->
		</div>
		<form th:action="@{/logout}" method="post">
			<button type="submit">로그아웃</button>
		</form>
	</th:block>
	<th:block sec:authorize="isAnonymous()"> <!-- 로그인이 되어 있지않으면 true -->
		<form th:action="@{/login}" method="post">
			<button type="submit">로그인</button>
		</form>
	</th:block>
</body>
</html>