<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/default_layout}"
      layout:fragment="Content">
<head>
  <title>결제하기</title>
  <meta charset="utf-8" />
  <!-- SDK 추가 -->
  <script src="https://js.tosspayments.com/v2/standard"></script>
</head>
<body>
  <h1>결제하기</h1>
  <button id="payment-button">결제하기</button>
  <button id="sctest">스케줄러 테스트</button>

  <script th:inline="javascript">
    // ------  SDK 초기화 ------
    const clientKey = "test_ck_Z61JOxRQVEGwR75pl6Yg8W0X9bAq";
    const tossPayments = TossPayments(clientKey);
    const customerKey = /*[[${customerKey}]]*/ 'i5XJLFqrrQj7BT-uQgNv7';
    // 결제창 인스턴스 생성
    const payment = tossPayments.payment({ customerKey });

    // ------ '결제하기' 버튼 누르면 결제창 띄우기 ------
    document.getElementById('payment-button').addEventListener('click', function() {
      payment.requestBillingAuth({
        method: "CARD", // 자동결제(빌링)은 카드만 지원합니다
        successUrl: window.location.origin + "/success",
        failUrl: window.location.origin + "/fail",
        customerEmail: "customer123@gmail.com",
        customerName: "김토스",
      });
    });
    
  </script>
</body>
</html>
