<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h3>게시글 수정</h3>
	<form name="updateForm" th:object="${board}">
		<div>
			<label>글번호</label> <input type="number" th:field="*{boardNo}"
				readonly>
		</div>
		<div>
			<label>글제목</label> <input type="text" th:field="*{boardTitle}">
		</div>
		<div>
			<label>글내용</label>
			<textarea th:field="*{boardContent}"></textarea>
		</div>
		<div>
			<label>글쓴이</label> <input type="text" th:field="*{boardWriter}"
				readonly>
		</div>
		<div>
			<label>작성일</label> <input type="date" th:field="*{regdate}" readonly>
		</div>
		<div>
			<button type="button" class="btn btn-info" id="updateBtn">저장</button>
			<button type="button" class="btn btn-success"
				th:onclick="|location.href='@{/boardList}'|">목록</button>
		</div>
	</form>
<script>
	$('#updateBtn').on('click',updateFunc)
	
	function updateFunc(event){
		// 1.유효성 검사
		 if(validationCheck() == false) return;
		// 2.서버에 요청할 데이터 가져오기
		let get = getData();
		//console.log(get);
		// 3. ajax 이용하여 서버에 요청
		//console.log($('[name="updateForm"]').serializeArray());
	}
	
	function validationCheck(){
		let btitle = $('[name="boardTitle"]');
		if(btitle.val()==''){
			alert('제목을 입력하세요');
			btitle.focus();
			return false;
		}
		let bcont = $('[name="boardContent"]')
		if(bcont.val()==''){
			alert('내용을 입력해라');
			bcont.focus();
			return false;
		}
		return true;
	}
	function getData(){
		console.log( $('[name="updateForm"]').serializeArray())
	}
</script>
</body>
</html>