<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	   layout:decorate="~{common/layouts/default_layout}"
	   layout:fragment="content">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h3>게시글 수정</h3>
	<form name="updateForm" th:object="${board}">
		<div>
			<label>글번호</label> <input type="number" th:field="*{boardNo}"
				readonly>
		</div>
		<div>
			<label>글제목</label> <input type="text" th:field="*{boardTitle}">
		</div>
		<div>
			<label>글쓴이</label> <input type="text" th:field="*{boardWriter}"
				readonly>
		</div>
		<div>
			<label>글내용</label>
			<textarea th:field="*{boardContent}"></textarea>
		</div>
		<div>
			<label>이미지</label><img th:src="@{/images/{fileName}(fileName=${board.image})}" alt="이미지" style="width:100px; height:100px">
		</div>
		<div>
			<label>작성일</label> <input type="date" th:field="*{regdate}" readonly>
		</div>
		<div>
			<button type="button" class="btn btn-info" id="updateBtn">저장</button>
			<button type="button" class="btn btn-success"
				th:onclick="|location.href='@{/boardList}'|">목록</button>
		</div>
	</form>
<script>
	$('#updateBtn').on('click',updateFunc);
	
	function updateFunc(event){
		// 1.유효성 검사
		 if(validationCheck() == false) return;
		// 2.서버에 요청할 데이터 가져오기
		let info = getBoardInfo();
		
		//console.log(get);
		// 3. ajax 이용하여 서버에 요청
		$.ajax('boardUpdate',{
			type:'post',
			contentType : 'application/json',
			data : JSON.stringify(info)
		})
		.done(data => {
			if(data.result){
				alert('정상적으로 수정되었습니다.');
			}else{
				alert('수정되지 않았습니다.\n데이터를 확인해주세요.');
			}
		})
		.fail(err => console.log(err));			
	};
	
	function validationCheck(){
		let btitle = $('[name="boardTitle"]');
		if(btitle.val()==''){
			alert('제목을 입력하세요');
			btitle.focus();
			return false;
		}
		let bcont = $('[name="boardContent"]')
		if(bcont.val()==''){
			alert('내용을 입력해라');
			bcont.focus();
			return false;
		}
		return true;
	}
	function getBoardInfo(){
		let formData= $('form[name="updateForm"]').serializeArray();
		console.log('1) serializeArray', formData);
		
		let objData = {};
		$.each(formData, (idx, input) => {
			console.log('2) input', idx, input);
			objData[input.name] = input.value;
		});
		
		console.log('3) objData', objData);
		return objData;
	};
</script>
</body>
</html>