<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/default_layout}"
      layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title>Home</title>
</head>
<body>
	<h3>게시글 목록</h3>
	<table class="table table-success table-striped">
		<thead>
			<tr>
				<th style="text-align:center;">게시글번호</th>
				<th style="text-align:center;">제목</th>
				<th style="text-align:center;">게시일</th>
			</tr>
		</thead>
		<tbody>
			<th:block th:each="board :${boardList}">
				<tr>
					<td style="text-align:center;" th:text="${board.boardNo}"></td>
					<td style="text-align:left;" th:text="${board.boardTitle}"></td>
					<td style="text-align:center;" th:text="${#dates.format(board.boardDate,'yy년MM월dd일')}"></td>
				</tr>
			</th:block>
		</tbody>
	</table>
</body>
</html>