<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.app.Subscription.mapper.SubscriptionMapper">
	<select id="findByUserId">
	SELECT * FROM Subscriptions WHERE user_id = #{userId}
	</select>
	<insert id="insertSubscription">
	INSERT INTO Subscriptions(user_id, plan, start_date, end_date, status) 
            VALUES(#{userId}, #{plan}, #{startDate}, #{endDate}, #{status})
	</insert>
	<update id="updateSubscription">
	UPDATE Subscriptions SET end_date = #{endDate} WHERE id = #{id}
	</update>
</mapper>